/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  padding: 0;
  margin: 0;
}
/**Style the text**/
#Click-to-begin {
  font-size: 200px;
  font-weight: bold;
  text-align: center;
  color: orange;
  text-decoration: underline;
}
